/*personnalisation du formulaire */

.wpcf7-text {
  padding: 20px; /* marge interne de 10 pixels*/
  border-radius: 7px; /* rayon de la bordure courbé de 3 pixels */
  border: 1px solid #d9dbdd; /* bordure large de 1 pixel, continue et de couleur #d9dbdd (code couleur HEX) */

  font-size: 17px; /* taille de police de 17 pixels */
  color: #33415c; /* couleur de police */
  margin-top: 15px;
  margin-bottom: 20px;
}

.wpcf7 {
  font-family: "Syne", sans-serif;
  font-size: 24px;
  color: #ffffff;
}

.wpcf7-submit {
  background: #d2776a; /* couleur d’arrière-plan */

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Syne", sans-serif;
  font-size: 24px;
  color: #ffffff;
}

.wpcf7-submit:hover {
  background: #0353a4; /* couleur d’arrière-plan */
  cursor: pointer; /* forme du curseur de la souris */
}

/*personnalisation menu*/

.menu-item,
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

menu-item {
  margin: 2em auto 2em;
}

.custom-logo {
  margin: 1em auto 2em;
}

.menu-item a {
  text-decoration: none;
  text-align: center;
  margin: 12px 50px 0 auto;
  font-style: normal;
  font-weight: 114;
  font-size: 19px;
}
.commander {
  background-color: #e0b9b4;
  padding-right: 40px;
  padding-left: 100px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: "Syne", sans-serif;
  color: #ffffff;
}

.nous-rencontrer {
  padding-right: 20px;
  padding-left: 100px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: "Syne", sans-serif;
}

/*Bouton nombre + -*/
.choix {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.zero {
  color: black;
  background: #ffffff;
  width: 100%;
  border-top: 15px solid #ffffff;
  border-bottom: 15px solid #ffffff;
  font-size: 20px;
  font-weight: 300;
  border-radius: 10px 0px 0px 10px;
}
.nbr {
  width: 50%;
  color: #ffffff;
  background: #dc9f96;
  border-radius: 0px 10px 10px 0px;
  border-top: 15px solid #dc9f96;
  border-bottom: 15px solid #dc9f96;
}
.plus {
  border-bottom: 1px solid #ffffff;
}
